<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="UITest">
    <classes>
      <class name="ApiAutomation.testRun.myPedia"/>
    </classes>    
  </test> 
  <test name="APITest">
    <classes>
      <class name="ApiAutomation.testRun.kosmos"/>
    </classes>    
  </test> 
</suite> 
